/* BRANDING COLORS
(color bridge coated for all Pantone colors)
MAIN NAVY BLUE - PANTONE 2748
        CODE: #2D2869

DARK TEXT / BCKGRND - PANTONE 419
        CODE: #292F2D

LIGHT TEXT / BCKGRND - PANTONE 656
        CODE: #DFE6EF

SECONDARY YELLOW - PANTONE 141
        CODE: #EFC462

SECONDARY LIGHT BLUE - PANTONE 7459
        CODE: #5C9DAE

TERTIARY GRAY FOR BCKGRND CONTRST - #D4DADD - NOT A PANTONE / BRAND COLOR - FOR USE ON WEBSITE ONLY
*/

body {
    background-color: #DFE6EF;
    color: #292F2D;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif; /* Choose another typeface? */
    text-align: center;
    clear: both;
    width: 100%;
}

/* NAVBAR STYLING*/
.navbar {
    display: flex;
    background-color: #2D2869;
    color: #DFE6EF;
}

.navbar h2 {
    line-height: 1.5em;
    padding: 0 2em;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item a {
    margin: 1em 0;
    display: block;
    color: #DFE6EF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

.nav-item a:hover {
    color: #DFE6EF;
    background-color: #292F2D;
}

/* FULLPAGE STYLING */
.fullPage {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fullPage h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #2D2869;
    text-transform: uppercase;
}

.fullPage p, .fullPage ul {
    width: 70em;
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

.fullPage p {
    text-align: left;
    padding: 1em;
    width: 50%;
}


.fullPage ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#technologiesPage {
    padding: 2em;
    padding-left: 0;
    background-color: #D4DADD;
}


/* PROJECTS PAGE / PROJECT CARDS STYLING*/
.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.projectCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: 1px solid #292F2D;
    width: 30%;
    margin: 1em;
    text-align: center;
    background-color: #D4DADD;
}

.projectCard header {
    width: 100%;
    padding: .5em;
    background-color: #5C9DAE;
    color: #292F2D;
}

.projectCard p {
    text-align: center;
    width: 100%;
    margin: .5em;
    padding: 0;
}

.projectCard img {
    width: 95%;
    margin: 1em;
}

.projectCard footer {
    display: flex;
    flex-flow: row wrap;
    background-color: #5C9DAE;
    width: 100%;
}

.projectCard footer a {
    color: #292F2D;
    width: 100%;
    margin: 0;
    padding: .5em;
}

/* PAGE FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #EFC462;
    color: #292F2D;
    height: 25%;
}

footer h4 {
    width: 100%;
    line-height: 1em;
    margin: 0 0 10px 0;
}

footer p {
    margin: 0;
    padding: 1em;
}

footer a {
    color: #292F2D;
    padding: 1em;
}