@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

// COLORS
$primary: #2d2869;
$darktext: #292f2d;
$lighttext: #dfe6ef;
$secondary-yellow: #efc462;
$secondary-blue: #5c9dae;
$tertiary-gray: #d4dadd;

// FONTS
$old-standard: "Old Standard TT", "Caslon", "Baskerville", Georgia, Serif;
