@import "./colors";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: $primary;
    color: $lighttext;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif; /* Choose another typeface? */
    text-align: center;
    clear: both;
    width: 100%;
}

/* NAVBAR STYLING*/
.navbar {
    display: flex;
    background-color: $primary;
    color: $lighttext;
}

.navbar h2 {
    line-height: 1.5em;
    padding: 0 2em;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item a {
    margin: 1em 0;
    display: block;
    color: $lighttext;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

.nav-item a:hover {
    color: $secondary-yellow;
}

/* FULLPAGE STYLING */
.fullPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.fullPage h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: $lighttext;
    text-transform: uppercase;
}

.fullPage p {
    width: 70em;
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 1.2em;
}

.fullPage p {
    text-align: left;
    padding: 1em;
    width: 100%;
}


.fullPage ul {
    list-style: none;
    text-align: center;
    padding: 0;
}


/* PROJECTS PAGE / PROJECT CARDS STYLING*/
.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.projectCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: 1px solid $darktext;
    margin: 1em;
    text-align: center;
    background-color: $tertiary-gray;
}

/* media query goes here */

.projectCard header {
    width: 100%;
    padding: .5em;
    background-color: $secondary-blue;
    color: $darktext;
}

.projectCard p {
    text-align: center;
    width: 100%;
    margin: .5em;
    padding: 0;
    color: $darktext;
}

.projectCard img {
    width: 95%;
    margin: 1em;
}

.projectCard footer {
    display: flex;
    flex-flow: row wrap;
    background-color: $secondary-blue;
    width: 100%;
}

.projectCard footer a {
    color: $darktext;
    margin: 0;
    padding: .5em;
}

/* PAGE FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: $secondary-yellow;
    height: 25%;
}

footer h4 {
    width: 100%;
    line-height: 1em;
    margin: 0 0 10px 0;
}

footer p {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    width: 100%;
}


footer a {
    font-size: 2em;
    color: $secondary-yellow;
    padding: .5em;
    padding-top: 0;
}