@import "../../../styles/variables";

.project-card-display {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5em 1em 6em 7em;
  width: 100%;
  button {
    background: none;
    color: #5a6863;
    border: none;
    padding: 0 0 0.5em 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    font-size: 1.5em;
  }
  header {
    text-align: left;
  }
  img {
    width: 90%;
  }
  header p {
    color: $primary;
    font-size: 1.75em;
    font-weight: 600;
    padding-top: 0.75em;
  }
  p {
    text-align: left;
    font-size: 1.25em;
    margin: 0;
    padding-top: 0.75em;
  }
  .marker {
    font-weight: 600;
  }
}
